.candidate-form {
  display: block;
}

.field-group {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.file-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .file-name {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.9em;
  }

  .error {
    font-size: 0.8em;
    margin-top: 4px;
  }
}
